#home {
  height: 100vh;
  display: flex;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.home-content {
  max-width: 800px;
  z-index: 2;
}

.home-content h1 {
  font-size: 4rem;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.8s forwards;
  animation-delay: 0.3s;
}

.underline {
  color: #00ff88;
  position: relative;
  display: inline-block;
}

.underline::after {
  content: "";
  left: 0;
  width: 0;
  height: 5px;
  bottom: 5px;
  position: absolute;
  background-color: #00ff88;
  transition: width 0.3s ease;
}

.home-content h1:hover .underline::after {
  width: 100%;
}

.home-description {
  color: #cccccc;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.8s forwards;
  animation-delay: 0.5s;
}

.home-tags {
  gap: 1rem;
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.tag {
  color: #00ff88;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.8s forwards;
  animation-delay: 0.7s;
}

@media (max-width: 768px) {
  .home-content h1 {
    font-size: 2.5rem;
  }

  .home-description {
    font-size: 1.2rem;
  }

  .home-tags {
    flex-direction: column;
  }

  .btn {
    width: 100%;
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
    max-width: 300px;
    flex-direction: column;
    margin: 0 auto;
  }
}
