header {
  padding: 1rem;
  height: 70px;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1000;
  background-color: #1a1a1a;
}

.logo {
  font-size: 2rem;
  color: #00ff88;
  font-weight: 600;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.about-links {
  display: none;
}

.nav-links a {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #00ff88;
  transition: color 0.4s ease-in-out;
}

.hamburger {
  border: none;
  display: none;
  padding: 0.5rem;
  cursor: pointer;
  background: none;
}

.line {
  width: 25px;
  height: 2px;
  display: block;
  margin: 5px 0;
  background-color: white;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    gap: 0;
    left: 0;
    right: 0;
    top: 70px;
    z-index: 1000;
    padding: 1rem 0;
    position: fixed;
    flex-direction: column;
    transition: all 0.5s ease-out;
    clip-path: circle(0 at 92% 0%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(21, 21, 21, 0.75);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
  }

  .nav-links.active {
    clip-path: circle(1000px at 90% -10%);
  }

  .nav-links li {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }

  .hamburger.active .line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}
